*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.div0{
    background-image: url(https://plus.unsplash.com/premium_photo-1682091907070-4985a6fbe6d2?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dHJhdmVsJTIwYm9va2luZ3xlbnwwfHwwfHx8MA%3D%3D);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.div1{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
.head1{
    flex:2;
    margin: 20px;
    color: Blue;
}
.nav1{
    display: flex;
    justify-content:space-around;
    flex:1;   
}
.div2{
    color:#fff;
  padding-top: 180px;
  padding-left: 50px;
  max-width:620px; 
}
.head2{
    font-size: 60px;
}
.b1{
    color: blue;
    background-color: white;
    padding:10px 20px;
    border-radius: 5px;
}
.div3{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 70px;
}
.div4{
    flex-direction: column;
    border: 2px solid blueviolet;
    align-items: center;
    padding: 70px 150px;
    border-radius: 3px;
    text-align: center;
    
}
.div5{
    display: flex;
    align-items: center;
    text-align: center;
}
footer{
    background-color: blueviolet;
    color: white;
    padding-top: 60px;
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 50px;
}
html{
    scroll-behavior: smooth;
}
